{% extends 'index.html' %}

{% block content %}
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <tr><td>{{ request.user.username }}</td></tr>
    <tr><td>{{ request.user.email }}</td></tr>
    <tr><td>{{ request.user.date_joined }}</td></tr>
    </table>

    {% for supplement in user_supplements %}
	<div>
	    <p>
	        <span class="tag is-black" style="background-color:{{ supplement.category.color }};">
	        {{ forloop.counter }} - {{ supplement.polish_name }}</span>
	    </p>
	</div>
    {% endfor %}
{% endblock %}